<div class="container col-10">
  <div class="row justify-content-center my-2 bg-light border-black">
    <div class="pagination col-auto my-1">
      <button class="btn btn-sm btn-outline-dark" (click)="previousPage()"
              [disabled]="currentPage === 1">Précédent
      </button>
      <span class="badge bg-secondary justify-content-center pt-2">Page {{ currentPage }}</span>
      <button class="btn btn-sm btn-outline-dark" (click)="nextPage()"
              [disabled]="!hasNextPage()">Suivant
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-outline-dark" (click)="changeSortBy('owner')" [class.active]="sortBy === 'owner'">Trier par Propriétaire</button>
      <button class="btn btn-outline-dark" (click)="changeSortBy('date')" [class.active]="sortBy === 'date'">Trier par Date</button>
      <button class="btn btn-outline-dark" (click)="changeSortBy('popularity')" [class.active]="sortBy === 'popularity'">Trier par Popularité</button>
    </div>
  </div>
  <app-message
    *ngFor="let message of messagesShowed"
    [message]="message">
  </app-message>
  <div class="row justify-content-center my-2">
    <ul class="pagination col-auto">
      <button class="btn btn-sm btn-outline-dark" (click)="previousPage()"
              [disabled]="currentPage === 1">Précédent
      </button>
      <span class="badge bg-secondary justify-content-center pt-2">Page {{ currentPage }}</span>
      <button class="btn btn-sm btn-outline-dark" (click)="nextPage()"
              [disabled]="!hasNextPage()">Suivant
      </button>
    </ul>
  </div>
</div>
