<div class="row justify-content-center my-2 bg-light border-black">
    <!-- Pagination -->
    <div class="pagination col-auto my-1">
      <button class="btn btn-sm btn-outline-dark" (click)="previousPage()"
              [disabled]="currentPage === 1">Précédent
      </button>
      <span class="badge bg-secondary justify-content-center pt-2">Page {{ currentPage }}</span>
      <button class="btn btn-sm btn-outline-dark" (click)="nextPage()"
              [disabled]="!hasNextPage()">Suivant
      </button>
      <select class="btn btn-outline-dark col-6 mx-2" [(ngModel)]="messagesPerPage">
        <option class="dropdown-item" [ngValue]="4" (click)="filterMessages()">Postes par page</option>
        <option class="dropdown-item" [ngValue]="4" (click)="filterMessages()">4</option>
        <option class="dropdown-item" [ngValue]="5" (click)="filterMessages()">5</option>
        <option class="dropdown-item" [ngValue]="6" (click)="filterMessages()">6</option>
        <option class="dropdown-item" [ngValue]="7" (click)="filterMessages()">7</option>
        <option class="dropdown-item" [ngValue]="8" (click)="filterMessages()">8</option>
      </select>
    </div>

    <!-- Tri des messages -->
    <div class="btn-group my-1">
      <button class="btn btn-outline-dark" (click)="changeSortBy('createdBy')" [class.active]="sortBy === 'createdBy'">Trier par Propriétaire</button>
      <button class="btn btn-outline-dark" (click)="changeSortBy('date')" [class.active]="sortBy === 'date'">Trier par Date</button>
      <button class="btn btn-outline-dark" (click)="changeSortBy('likes')" [class.active]="sortBy === 'likes'">Trier par Popularité</button>
    </div>

    <!-- Filtrage des messages -->
    <div class="btn-group my-1">
      <select class="btn btn-outline-dark col-6" [(ngModel)]="selectedOwner" (change)="filterMessages()">
        <option class="dropdown-item" [ngValue]="null">Tous les propriétaires</option>
        <option class="dropdown-item" *ngFor="let owner of uniqueOwners" [ngValue]="owner">{{ getUserCorrespondence(owner) }}</option>
      </select>
      <select class="btn btn-outline-dark col-6" [(ngModel)]="selectedHashtag" (change)="filterMessages()">
        <option class="dropdown-item" [ngValue]="null">Tous les hashtags</option>
        <option class="dropdown-item" *ngFor="let hashtag of uniqueHashtags" [ngValue]="hashtag">{{ hashtag }}</option>
      </select>
    </div>
</div>

<app-message
  *ngFor="let message of messagesShowed"
  [message]="message"
  [isConnected]="isConnected"
  [usersCorrespondences]="usersCorrespondences"
  (likeMessageEvent)="likeMessage(message._id)">
</app-message>
<div class="row justify-content-center my-2">
  <ul class="pagination col-auto">
    <button class="btn btn-sm btn-outline-dark" (click)="previousPage()"
            [disabled]="currentPage === 1">Précédent
    </button>
    <span class="badge bg-secondary justify-content-center pt-2">Page {{ currentPage }}</span>
    <button class="btn btn-sm btn-outline-dark" (click)="nextPage()"
            [disabled]="!hasNextPage()">Suivant
    </button>
  </ul>
</div>
