<!-- Contenu du Message-->
<div class="card text-white bg-dark mt-2 mb-0 pb-0">

  <!-- Body -->
  <div class="row mx-2">
    <div class="card-body col-lg-9 col-md-8">
      <p class="card-text"> {{ message.body}}</p>
    </div>

    <!-- Image -->
    <div class="card-body col-lg-3 col-md-4">
      <img class="card-img" [src]="message.images.url" alt="">
      <h6 class="card-text pt-2 px-3">{{ message.images.title }}</h6>
    </div>
  </div>

  <!-- Hashtags -->
  <div class="row mx-2">
      <div class="card-text py-1">
        <small *ngFor="let hashtag of message.hashtags">
          {{ hashtag }}
        </small>
      </div>
  </div>

  <!-- Footer -->
  <div class="row mx-2">
    <p class="card-text col-xl-2 col-lg-2 col-md-2 col-sm-12">
      <small>Auteur : {{ getUserCorrespondence(message.createdBy) }}</small>
    </p>
    <p class="card-text col-xl-7 col-lg-4 col-md-4">
      <small>Le {{ message.date }} à {{ message.hour }}</small>
    </p>
    <p class="btn btn-sm btn-dark text-white col-xl-1 col-lg-2 col-md-2"
       (click)="likeMessage()">
      <small>Liker ({{ message.likes }})</small>
    </p>
    <p class="btn btn-sm btn-dark text-white col-xl-1 col-lg-2 col-md-2" (click)="openForm = !openForm">
      <small>Commenter</small>
    </p>
    <p class="btn btn-sm btn-dark text-white col-xl-1 col-lg-2 col-md-2" (click)="openShareMessageForm = !openShareMessageForm">
      <small>Partager ({{ message.shared }})</small>
    </p>
  </div>
</div>
<app-commentaire-container
  [messageId]="message._id"
  [openForm]="openForm"
  [openShareMessageForm]="openShareMessageForm"
  [commentaires]="message.comments"
  [usersCorrespondences]="usersCorrespondences">
</app-commentaire-container>
