<div *ngFor="let message of messages">
  <!-- Message -->
  <div class="container col-7 mt-2">

    <!-- Contenu du Message-->
    <div class="card text-white bg-dark mb-0 pb-0">


      <div class="row mx-2">
        <div class="card-body col-9">
          <p class="card-text"> {{ message.body}}</p>
        </div>

        <!-- Image -->
        <div class="card-body col-3">
          <img class="card-img" [src]="message.images.url" alt="Space">
          <h6 class="card-text pt-2 px-3">{{ message.images.title }}</h6>
        </div>
      </div>

      <!-- Footer -->
      <div class="row mx-2">
        <p class="card-text py-1">
          <small> {{ message.hashtags }}</small>
        </p>
      </div>
      <div class="row mx-2">
        <p class="card-text col-2 py-0">
          <small>Auteur : {{ message.createdBy }}</small>
        </p>
        <p class="card-text col-8">
          <small>Le {{ message.date }} à {{ message.hour }}</small>
        </p>
        <p class="card-text col-1">
          <small>{{ message.likes }} likes</small>
        </p>
        <p class="card-text col-1">
          <small>Partager</small>
        </p>
      </div>
    </div>

    <div *ngFor="let commentaire of message.comments">
      <!-- Commentaires -->
      <div class="card list-group list-group-flush bg-secondary mt-0 pb-0 col-11 offset-1">
        <div class="card-body list-group-item list-group-item-dark">
          <p class="card-text px-3 pt-2 pb-0">{{ commentaire.text }}</p>
          <div class="row py-0">
            <p class="card-text col-9 mx-2">
              <small class="text-muted">Auteur : {{ commentaire.commentedBy }}</small>
            </p>
            <p class="card-text col">
              <small class="text-muted">Le {{ commentaire.date }} à {{ commentaire.hour }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
