<div class="container">
  <button *ngIf="isConnected" class="btn btn-sm btn-danger" (click)="OnDeconnexion()">Se déconnecter</button>

  <form *ngIf="!isConnected" (ngSubmit)="onConnexion()" #form="ngForm" class="d-flex text-right ms-auto justify-content-end">
    <div class="form-group col-3">
      <input type="text" class="form-control form-control-sm" id="identifiant" name="identifiant" placeholder="Identifiant" [(ngModel)]="identifiant" required>
    </div>
    <div class="form-group col-3 px-1">
      <input type="password" class="form-control form-control-sm" id="mot_de_passe" name="mot_de_passe" placeholder="Mot de passe" [(ngModel)]="mot_de_passe" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm px-1">Se Connecter</button>
  </form>
</div>
